@model CAPTasksMVC.Models.Carpetas
@{
    ViewBag.Title = "CrearCarpeta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="page-wrapper" class="col-md-6 col-md-offset-3">
    <h3 class="page-header">
        Nueva Carpeta</h3>
    @using (Html.BeginForm("CrearCarpeta", "Carpetas", FormMethod.Post))
    {
        @Html.ValidationSummary(true)    

        <div>
            @Html.Hidden("idUsuario",this.Session["IdUsuario"])  
        </div>   
        <div class="form-group">
            @Html.LabelFor(model => model.Nombre)
            <br />
            @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Nombre)
        </div> 
        <br />  
        <div class="form-group">
            @Html.LabelFor(model => model.Descripcion)
            <br />
            @Html.TextAreaFor(model => model.Descripcion, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Descripcion)
        </div>
        <br />
        <center>
            <input type="submit" id="btnGuardarCarpeta" class="btn btn-success" value="Crear Carpeta" />
        </center>   
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
