@model CAPTasksMVC.Models.Carpetas

@{
    ViewBag.Title = "CrearCarpeta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
        <div id="page-wrapper" class="col-md-6 col-md-offset-3">
            <h3 class="page-header">
                Crear carpeta</h3>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

 <div class="form-group">
            @Html.LabelFor(model => model.Nombre)
        <br />
            @Html.EditorFor(model => model.Nombre)
            @Html.ValidationMessageFor(model => model.Nombre)
             <small class="text-info"><span class="glyphicon glyphicon-exclamation-sign"></span>El nombre de carpeta es unico</small>
      </div> 
    <br />
   
    <div class="form-group">
            @Html.LabelFor(model => model.Descripcion)
        <br />

            @Html.EditorFor(model => model.Descripcion)
            @Html.ValidationMessageFor(model => model.Descripcion)
       </div>

        <p>
            <input type="submit" id="btnGuardarCarpeta" class="btn btn-success" value="Crear Carpeta" />
            <input type="submit" id="btnCancelarCarpeta" class="btn btn-warning" value="Cancelar" />
        </p>
   
}
</div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
