@* @model IEnumerable<CAPTasksMVC.Models.CarpetaTareaModel> *@
@model CAPTasksMVC.Models.CarpetaTareaModel
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-md-12">
    <div id="sidebar" class="col-md-3 navbar-default navbar-static-side">
        <h2>
            Carpetas
        </h2>
        <br />
        <table>
            @foreach (var item in Model.Carpetas)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                </tr>
            }
        </table>
        <ul>
            @Html.ActionLink("Nueva Carpeta", "CrearCarpeta", null, new { @class = "btn btn-primary fa-with-txt" })
        </ul>
    </div>
    <div id="page-wrapper" class="col-md-9">
        <h2>
            Lista de tareas
        </h2>
        <table>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Tareas[0].Fecha) @* Titulo de las columnas de Tareas *@
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tareas[1].Tarea)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tareas[2].Descripcion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tareas[3].Prioridad)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tareas[4].Carpeta)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tareas[5].Estado)
                </th>
            </tr>
            @foreach (var item in Model.Tareas)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fecha)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tarea)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Prioridad)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Carpeta)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Estado)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "ModificarTarea", new { idTarea = item.IdTarea }, new { @class = "glyphicon glyphicon-pencil" }) 
                        @Html.ActionLink("Eliminar", "EliminarTarea", new { idTarea = item.IdTarea }, new { @class = "glyphicon glyphicon-trash" })
                    </td>
                </tr>
            }
        </table>
        <ul>
          @Html.ActionLink("Nueva Tarea", "CrearTarea", null, new { @class = "btn btn-primary fa-with-txt" })
        </ul>
    </div>
</div>
