@model CAPTasksMVC.Models.CarpetaTareaModel
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-md-12">
    <div id="sidebar" class="col-md-3 navbar-default navbar-static-side">
        <h2>
            Carpetas
        </h2>
        <div>
        <ul class="list-unstyled">
            @foreach (var item in Model.Carpetas)
            {                
                <li> 
                    @Html.ActionLink(item.Nombre, "ListarTareasPorCarpeta", new { idCarpeta = item.IdCarpeta })
                </li>                   
            }
        </ul>
        </div>
        <div>
            @Html.ActionLink("Nueva Carpeta", "CrearCarpeta", "Carpetas", null, new { @class = "btn btn-primary btn-block" })
        </div>
    </div>
    <div id="page-wrapper" class="col-md-9">
        <h2>
            Lista de tareas
        </h2>
        <table class="table">
            <tr>
                @* Titulo de las columnas de Tareas *@
                <th>
                   @Html.LabelFor(model => model.Tareas[0].Fecha, "Fecha Fin")
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tareas[1].Tarea)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tareas[2].Descripcion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tareas[3].Prioridad)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tareas[4].Carpeta)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tareas[5].Estado)
                </th>
                <th>
                Acción
                </th>
                <th>
                </th>
            </tr>
            @foreach (var item in Model.Tareas)
            {
                
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fecha)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tarea)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Prioridad)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Carpeta)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Estado)
                    </td>
                    <td>
                        @if (item.Estado == "En curso")
                        {

                            using (Html.BeginForm("CompletarTarea", "Tareas", new { idTarea = item.IdTarea }, FormMethod.Post))
                            { 
                            <input type="submit" id="btnCompletar" value="Completar" class="btn btn-outline btn-success btn-sm" />                    
                            }

                        }
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "ModificarTarea", "Tareas", new { idTarea = item.IdTarea }, new { @class = "glyphicon glyphicon-pencil" })
                        @Html.ActionLink("Eliminar", "EliminarTarea", "Tareas", new { idTarea = item.IdTarea }, new { @class = "glyphicon glyphicon-trash" })
                    </td>
                </tr>
                
            }
        </table>
        <div class="row">
            <div class="col-md-6">
                @using (Html.BeginForm("ListarTodasLasTareas", "Home", FormMethod.Post))
                { 
            
                    @Html.CheckBox("ckbFinalizadas")
                    <label>
                        Incluir finalizadas</label>
                    <input type="submit" id="btnActualizar" value="Actualizar" class="btn btn-info fa-with-txt btn-sm" />                    
                }
            </div>
            <div class="col-md-6 text-right">
                <ul>
                    @Html.ActionLink("Nueva Tarea", "CrearTarea", "Tareas", null, new { @class = "btn btn-primary" })
                </ul>
            </div>
        </div>
    </div>
</div>
