@model CAPTasksMVC.Models.Tareas

@{
    ViewBag.Title = "ModificarTarea";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container margin-bottom">
<div id="page-wrapper" class="col-md-6 col-md-offset-3">

<h3 class="page-header">Modificar tarea</h3>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

       <div>
        @Html.LabelFor(model => model.IdCarpeta, "Carpeta")
        <br />
         @Html.DropDownList("IdCarpeta", String.Empty)
         @Html.ValidationMessageFor(model => model.IdCarpeta)
         </div>
       
        <div class="form-group">
            @Html.LabelFor(model => model.Nombre)
         <br />
            @Html.EditorFor(model => model.Nombre)
            @Html.ValidationMessageFor(model => model.Nombre)
        </div>

         <div class="form-group">
            @Html.LabelFor(model => model.Descripcion)
        <br />
            @Html.EditorFor(model => model.Descripcion)
            @Html.ValidationMessageFor(model => model.Descripcion)
        </div>

         <div class="form-group">
            @Html.LabelFor(model => model.FechaFin)
        <br />
            @Html.EditorFor(model => model.FechaFin)
            @Html.ValidationMessageFor(model => model.FechaFin)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Prioridad)
        <br />
            @Html.EditorFor(model => model.Prioridad)
            @Html.ValidationMessageFor(model => model.Prioridad)
        </div>
        <br />
        <p>
            <input type="submit" id="btnGuardarCambios" class="btn btn-success" value="Guardar cambios" />
            <input type="submit" id="btnCancelar" class="btn btn-warning" value="Cancelar" />
        </p>

}
</div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
