@model CAPTasksMVC.Models.Tareas
@{
    ViewBag.Title = "ModificarTarea";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(function () {
            $("#datepicker").datepicker();
            $('#datepicker').datepicker('option', { dateFormat: 'dd/mm/yy' });
        }); 
    </script>
}
<div class="container margin-bottom">
    <div id="page-wrapper" class="col-md-6 col-md-offset-3">
        <h3 class="page-header">
            Modificar tarea</h3>
        @using (Html.BeginForm("ModificarTarea","Home",FormMethod.Post))
        {
            @Html.ValidationSummary(true)

            <div>
                @Html.LabelFor(model => model.IdCarpeta, "Carpeta")
                <br />
                @Html.DropDownList("IdCarpeta")
                @Html.ValidationMessageFor(model => model.IdCarpeta)
            </div>
       
            <div class="form-group">
                @Html.LabelFor(model => model.Nombre)
                <br />
                @Html.EditorFor(model => model.Nombre)
                @Html.ValidationMessageFor(model => model.Nombre)
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Descripcion)
                <br />
                @Html.TextAreaFor(model => model.Descripcion)
                @Html.ValidationMessageFor(model => model.Descripcion)
            </div>

             <div>
                @Html.LabelFor(model => model.FechaFin)
                <br />
                <input type="text" id="datepicker" name="fecha"/>
            </div>

             @Html.LabelFor(model => model.Prioridad)
            <div class="row">
               <div class="form-group col-md-6">
                    <select id="Select1" name="prioridad">
                        <option value="0">Baja</option>
                        <option value="1">Media</option>
                        <option value="2">Alta</option>
                        <option value="3">Urgente</option>
                    </select>
                    @Html.ValidationMessageFor(model => model.Prioridad)
                </div>
            </div>
            <br />
            <p>
                <input type="submit" id="btnGuardarCambios" class="btn btn-success" value="Guardar" />
            </p>
        }
    </div>
</div>
