@model CAPTasksMVC.Models.Tareas
@{
    ViewBag.Title = "ModificarTarea";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container margin-bottom">
    <div id="page-wrapper" class="col-md-6 col-md-offset-3">
        <h3 class="page-header">
            Modificar tarea</h3>
        @using (Html.BeginForm("ModificarTarea", "Tareas", FormMethod.Post))
        {
            @Html.ValidationSummary(true)

            <div>
                @Html.HiddenFor(model => model.IdTarea)
            </div>
            <div>
                @Html.LabelFor(model => model.IdCarpeta, "Carpeta")
                <br />
                @Html.DropDownList("IdCarpeta", null, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IdCarpeta)
            </div>      
            <div class="form-group">
                @Html.LabelFor(model => model.Nombre)
                <br />
                @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Nombre)
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Descripcion)
                <br />
                @Html.TextAreaFor(model => model.Descripcion, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Descripcion)
            </div>
            <div>
                @Html.LabelFor(model => model.FechaFin)
                <br />
                @Html.TextBoxFor(model => model.FechaFin, "{0:dd/MM/yyyy}", new { @class = "form-control" }) 
                @Html.ValidationMessageFor(model => model.FechaFin)
            </div>           
            <div class="row">
                <div class="form-group col-md-6">
                @Html.LabelFor(model => model.Prioridad)
                    @{
            List<SelectListItem> listPrioridad = new List<SelectListItem>();
            listPrioridad.Add(new SelectListItem
            {
                Text = "Baja", 
                Value = "0",
                Selected = true
            });
            listPrioridad.Add(new SelectListItem
            {
                Text = "Media",
                Value = "1",
                
            });
            listPrioridad.Add(new SelectListItem
            {
                Text = "Alta",
                Value = "2"
            });
            listPrioridad.Add(new SelectListItem
            {
                Text = "Urgente",
                Value = "3"
            });
                    }
                    @Html.DropDownListFor(model => model.Prioridad, listPrioridad, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Prioridad)
                </div>
            </div>
            <br />
            <center>
                <input type="submit" id="btnGuardarCambios" class="btn btn-success" value="Guardar Cambios" />
            </center>
        }
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")  
}
