@model CAPTasksMVC.Models.Usuarios


@{
    Layout = "~/Views/Shared/_Login.cshtml";
    ViewBag.Title = "Login";
}
    <div class="container">
        <div class="nav nav-bar navbar-header">
            <div class="col-md-3">
            </div>
            <div class="col-md-9">
                 @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-inline" }))
                {
                    @Html.ValidationSummary(true)
                                       
                    <div class="form-group">
                        @Html.LabelFor(model => model.Email)
                        @Html.EditorFor(model => model.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Email)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Contrasenia, new { @class = "sr-only" })
                        @Html.PasswordFor(model => model.Contrasenia, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Contrasenia)
                    </div>
                     <div class="checkbox">
                        <label>
                            <input type="checkbox" id="recordarme" />
                            Remember me
                        </label>
                    </div>
                    <button type="submit" class="btn btn-default">
                        Entrar
                    </button>
                    <a href="~/Account/Registro"><button type="button" class="btn btn-default">
                        registrarse
                    </button>
                    </a>
                }
            </div>
        </div>