@model CAPTasksMVC.Models.Usuarios


@{
    Layout = "~/Views/Shared/_Login.cshtml";
    ViewBag.Title = "Login";
}
    
        <div id="page-wrapper" class="col-md-6 col-md-offset-3">
            
                 @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form" }))
                {
                    @Html.ValidationSummary(true)
                                       
                    <div class="form-group">
                        @Html.LabelFor(model => model.Email)
                        @Html.EditorFor(model => model.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Email)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Contrasenia)
                        @Html.PasswordFor(model => model.Contrasenia, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Contrasenia)
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg btn-block">
                        Entrar
                    </button>
                    <a href="~/Account/Registro"><button type="button" class="margin-top btn btn-default btn-lg btn-block">
                        Registrarse
                    </button>
                    </a>
                }
        </div>
