
@using BotDetect.Web.UI.Mvc;
@model CAPTasksMVC.Models.Usuarios

@{
    Layout = "~/Views/Shared/_Login.cshtml";
    ViewBag.Title = "Login";
}
@section HeadIncludes {
    <link href="@BotDetect.Web.CaptchaUrls.Absolute.LayoutStyleSheetUrl" 
      rel="stylesheet" type="text/css" />
}

@using (Html.BeginForm("Registro", "Account", FormMethod.Post, new { @class = "form" })) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Registracion</legend>

        
        @Html.HiddenFor(m => m.FechaCreacion, DateTime.Today)
        @Html.HiddenFor(m => m.Estado, Convert.ToInt16(0))
        @Html.HiddenFor(m => m.FechaActivacion, DateTime.Today)
        @Html.HiddenFor(m => m.CodigoActivacion, "")

        <div class="form-group">
        @Html.LabelFor(m => m.Nombre)
        @Html.EditorFor(m => m.Nombre)
        @Html.ValidationMessageFor(m => m.Nombre)
        </div>
        <div class="form-group">
        @Html.LabelFor(m => m.Apellido)
        @Html.EditorFor(m => m.Apellido)
        @Html.ValidationMessageFor(m => m.Apellido)
        </div>
        <div class="form-group">
        @Html.LabelFor(m => m.Email)
        @Html.EditorFor(m => m.Email)
        @Html.ValidationMessageFor(m => m.Email)
        </div>
        <div class="form-group">
        @Html.LabelFor(m => m.Contrasenia)
        @Html.PasswordFor(m => m.Contrasenia)
        @Html.ValidationMessageFor(m => m.Contrasenia)
        </div>
        <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword)
        @Html.PasswordFor(m => m.ConfirmPassword)
        @Html.ValidationMessageFor(m => m.ConfirmPassword)
        </div>

         <div class="form-group">

            <div>
                @Html.Label("CaptchaCode", "Retype the code from the picture:")
                @{ MvcCaptcha sampleCaptcha = new MvcCaptcha("SampleCaptcha");
                   sampleCaptcha.UserInputClientID = "CaptchaCode"; }
                @Html.Captcha(sampleCaptcha)
            </div>
            <div class="actions">
                @Html.TextBox("CaptchaCode")
                @Html.ValidationMessage("CaptchaCode")
            </div>
         </div>
        <button type="submit" class="btn btn-default">
        Registrarme
        </button>
    </fieldset>
}
